conceptnet5
pytts
requests
beautifulsoup4
jupyter
jupyter_kernel_gateway
qtile
flex
bison
cython
mmtk
lxml
tinycss
cssselect
markup
simpy
scipy
numpy
pandas
vte
vtk
six
trollious
xcffib
requests
pyserial
breakfastserial
stackless-python
plotly
nose
pygments
psutil
pygal
libardrone
butterfly
fabric
pyrasite
pyside
cherrypy
numba
orange
orange-canvas
scikit-learn
pybrain
spacy
nengo
pycuda
glumpy
ptk
pyside
pygments
matplotlib
stackless-python
pybrain
kivy
pyzqm
